<meta
  name="description"
  content="Diamond Paws is more than just a company; we are a community of passionate learners and innovators. Our members come from diverse backgrounds, but we all share a common goal: to become skilled software engineers. We offer a supportive environment where members can work on real-world projects, learn from each other, and grow both personally and professionally."
/>
<meta
  name="keywords"
  content="Tulsa, Software, Engineering, Machine Learning, Full Stack, AR, VR, Service, Contract, Freelance, Web, Mobile, App, Development, Design,"
/>
<meta name="author" content="Chris Stamper" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />
